@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap");
h1 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 1.2rem;
}

h3 {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1.2rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}

ul {
  list-style: none;
}

span {
  font-weight: 300;
}

button,
select {
  font-size: inherit;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  background-color: #fafafa;
  color: #111517;
}

.color-toggle {
  border: none;
  outline: none;
  background-color: transparent;
  padding: .5rem;
  cursor: pointer;
}

.color-toggle__icon {
  margin: .25rem;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.6rem 3rem;
  background-color: white;
  -webkit-box-shadow: 0 1px 6px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 6px -2px rgba(0, 0, 0, 0.1);
}

.topbar__header {
  margin-bottom: 0;
}

.search {
  padding: 3rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  position: relative;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.8rem 2rem;
  font-size: inherit;
  font-weight: 300;
  border: none;
  outline: none;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.1);
}

.form__input::-webkit-input-placeholder {
  color: lightgrey;
}

.form__input:-ms-input-placeholder {
  color: lightgrey;
}

.form__input::-ms-input-placeholder {
  color: lightgrey;
}

.form__input::placeholder {
  color: lightgrey;
}

.form__select {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 1.8rem 2rem;
  font-size: inherit;
  border: none;
  border-radius: 3px;
  background-color: white;
  -webkit-box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.1);
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.country {
  padding: 0 3rem 3rem;
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: (minmax(26rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
}

.card {
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.1);
}

.card__link {
  cursor: pointer;
}

.card__img {
  display: block;
  height: 20rem;
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.card__body {
  padding: 3rem;
}

.back-link {
  display: inline-block;
  padding: 1rem 1.8rem;
  font-size: inherit;
  background-color: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: pointer;
}

.back-link__icon {
  margin-right: .5rem;
}

.main {
  padding: 3rem;
}

.detail {
  margin: 5rem 0;
  display: -ms-grid;
  display: grid;
  gap: 3rem;
}

.detail__body {
  margin: auto 0;
}

.detail__header {
  margin-bottom: 2rem;
}

.detail__img {
  margin: auto 0;
  border-radius: 3px;
  max-width: 100%;
  width: 100%;
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

.detail__list {
  margin-bottom: 4rem;
}

.detail__info {
  margin-bottom: 1rem;
  font-weight: 600;
}

.b-country__header {
  font-size: 1.6rem;
}

.b-country__item {
  display: inline-block;
  font-size: inherit;
  padding: 1rem 1.8rem;
  margin: 0 1rem 1rem 0;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
  body {
    font-size: 1.6rem;
  }
  .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__input-outer {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 3rem;
  }
  .main {
    padding: 3rem 6rem;
  }
  .detail {
    gap: 6rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .detail__img {
    max-height: 50rem;
  }
  .b-country__header {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=styles.css.map */